<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarAdminActivities" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Admin Activity Bar</a>
    </div>
    <div id="navbarAdminActivities" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
            <li><a [routerLink]="['/master/Add user']" >Add or Modify User</a>
            </li>
            <li><a href="">Page 2</a>
            </li>
            <li><a href="">Page 3</a>
            </li>

      </ul>
    </div>
  </div>
</nav>
