<app-topnavbar></app-topnavbar>

<div class="row">
    <div class="col-md-9">

        <div class="box">
            <div class="box-header with-border btn-Blue">
                <h3 class="box-title ">Question Number:{{currentQuestionIndex+1 }}</h3>
                <div class="box-tools pull-right">
                    
                </div>
            </div><!-- /.box-header -->
            <div class="box-body" >
                <mat-card *ngIf="IsProgressSpinnerVisible">
                    <mat-spinner  style="margin:0 auto;"></mat-spinner>
                    </mat-card>
                   <pre ><code>{{this.assessment.QuestionPaper && this.assessment.QuestionPaper[currentQuestionIndex] && this.assessment.QuestionPaper[currentQuestionIndex]?.QuestionText}}</code></pre>
                      <div class="box">
                        <div class="box-header with-border  btn-Blue" >
                                <ng-container  *ngIf="IsSingleOptionType(currentQuestionIndex)">
                            <mat-radio-button  class="example-radio-button" [value]="option" [checked]="option.ID === this.assessment.QuestionPaper[currentQuestionIndex].SelectedOptionId"  (click) = "OnOptionSelect(option)" *ngFor="let option of this.assessment.QuestionPaper[currentQuestionIndex]?.Options; let idx = index"> {{option.OptionText}}</mat-radio-button>
                                   </ng-container>    
                                   <ng-container  *ngIf="IsSubjectiveTypeAnswer(currentQuestionIndex)">
                                        <textarea class="form-control" [(ngModel)]="this.assessment.QuestionPaper[currentQuestionIndex].WrittenAnswer" rows="10"></textarea>
                         </ng-container>         
                        </div><!-- /.box-header -->
                      
                       
                    </div>
                </div><!-- /.box-body -->
            <div class="box-footer">
                 <div   *ngIf="currentQuestionIndex>0">
                        <button type="button" class="btn  btn-Blue" (click)="btnPreviousClick()" style="float: left;" >previous</button>
                    </div>
                    <div *ngIf="currentQuestionIndex<(this.assessment.QuestionPaper?.length-1)"  >
                            <button type="button" (click)="btnNextClick()" style="float: right;"  class="btn btn-Blue">next</button>
                   </div>
                   <div *ngIf="currentQuestionIndex==(this.assessment.QuestionPaper?.length-1)"  >
                     <button type="button" [disabled]="this.IsReviewMode" (click)="btnSubmitClick()" style="float: right;"  class="btn btn-Blue "> Submit</button>
                   </div>
            </div><!-- box-footer -->
        </div>
           </div>
 
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                

<div class="box">
        <div class="box-header with-border btn-Blue">
            <h3 class="box-title">Answer Status</h3>
            <div class="box-tools pull-right">
      
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
       
      
                <app-answer-statatus (OnQuestionNumberClick)="OnQuestionNumberClick($event)"  [questionsList]="this.assessment.QuestionPaper" ></app-answer-statatus> 
 
      
        </div><!-- /.box-body -->
        <div class="box-footer">
               
        </div><!-- box-footer -->
    </div>
          </div>
      </div>
      </div>
  </div>

 