.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  p { word-break: break-all }
  .customDiv
  {
    Margin:3px;
    min-height: 300px;
    background-color: silver;
    font-size: large;
  }

  
  pre {
    height: auto;
    max-height: 400px;
    overflow: auto;
    background-color:azure;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    border-color: #605ca8;;
  }
  
 