<div class="alert-success" *ngIf="this.IsCreated"> 
  User Assessment Map is successfully done!
  </div>
  <form class="well form-horizontal" [formGroup]="mapUserToAssessmentCreationForm" (ngSubmit)="SubmitFormData()">
    <fieldset>
       
      
  
      <div class="form-group">
        <label class="col-md-4 control-label" >User Name</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <select formControlName="UserId" id="UserId" class="form-control">
          <option></option>
          <option *ngFor="let user of this.UserList"
                  [value]="user.UserId" >
            {{user.Username}}
          </option>
        </select> 
      </div>
        </div>
      </div>
      <div class="form-group"   *ngIf="this.mapUserToAssessmentCreationForm.get('UserId').errors &&
  this.mapUserToAssessmentCreationForm.get('UserId').dirty">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4 inputGroupContainer">
      <div *ngIf="this.mapUserToAssessmentCreationForm.get('UserId').errors.required" class="input-group alert-danger">
          User Name is required!
         </div>  
     </div>
     </div>
  
     <div class="form-group">
      <label class="col-md-4 control-label" >Assessment Name</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <select formControlName="AssessmentId" id="AssessmentId" class="form-control">
        <option></option>
        <option *ngFor="let assessment of this.AssessmentNameList"
                [value]="assessment.AssessmentId" >
          {{assessment.AssessmentName}}
        </option>
      </select> 
    </div>
      </div>
    </div>
    <div class="form-group"   *ngIf="this.mapUserToAssessmentCreationForm.get('AssessmentId').errors &&
this.mapUserToAssessmentCreationForm.get('AssessmentId').dirty">
<label class="col-md-4 control-label"></label>
<div class="col-md-4 inputGroupContainer">
    <div *ngIf="this.mapUserToAssessmentCreationForm.get('AssessmentId').errors.required" class="input-group alert-danger">
        Assessment Name is required!
       </div>  
   </div>
   </div>



    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button type="submit"   class="btn btn-warning" >Map an AssessmentToUser <span class="glyphicon glyphicon-send"></span></button>
      </div>
    </div>
    
    </fieldset>
    </form>
  
