<div class="d-flex justify-content-center align-items-center container ">  <div class="row ">



<form #loginForm="ngForm">

<div *ngIf="!this.IsloginSucess" class="alert alert-danger" >
  <strong>Login failed!Please enter valid credentials!</strong>
  
</div>

  <div class="form-group"  >
    <label for="username"name="username"  >User name:</label>
    <input name="username" type="text" required class="form-control" [(ngModel)]="loginModel.username" #name="ngModel" />
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
  class="alert alert-danger">

<div *ngIf="name.errors.required">
 Name is required.
</div>

</div>
<mat-spinner  *ngIf="loginprocessStarted"></mat-spinner>  

    <div class="form-group" >
    <label for="pwd">Password:</label>
    <input name="password" type="password" class="form-control" required [(ngModel)]="loginModel.password" #pwd="ngModel"/>
  </div>
  <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)"
  class="alert alert-danger">

<div *ngIf="pwd.errors.required">
 Name is required.
</div>



</div>


  <button [disabled]="loginForm.invalid" (click)="Login()" class="btn btn-default">Submit</button>
  
</form>

</div>