<form class="well form-horizontal" [formGroup]="mapModuleWisePageAccessForm" (ngSubmit)="MapModuleRolePermMap()">
    <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label" >Role Name</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <select formControlName="RoleId" id="rolename" class="form-control">
          <option></option>
          <option *ngFor="let role of  RoleNameList"
                  [value]="role.RoleId" >
            {{role.RoleName}}
          </option>
        </select> 
      </div>
        </div>
      </div>
      <div class="form-group"   *ngIf="this.mapModuleWisePageAccessForm.get('RoleId').errors &&
  this.mapModuleWisePageAccessForm.get('RoleId').dirty">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4 inputGroupContainer">
      <div *ngIf="this.mapModuleWisePageAccessForm.get('RoleId').errors.required" class="input-group alert-danger">
          Role Name is required!
         </div>  
     </div>
     </div>

    <div class="form-group">
        <div class="row"  >
            <div class="col-lg-3 col-xs-6" *ngFor="let moduleWisePageAcccess of this.moduleWisePageAcccessModelList">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{moduleWisePageAcccess.Module.ModuleName}}</h3>
          
                  <p></p>
                </div>
               
                <div class="checkbox" >
                <label>                                    
                    <input type="checkbox"  (change)="SelectAllCheckBox(moduleWisePageAcccess.Module.ModuleName,$event)"/>
                  select all
                </label>
              </div>
                <div class="checkbox" *ngFor="let page of moduleWisePageAcccess.pageList" >
                  <div class="form-inline">
                      
                      <label>                                    
                          <input type="checkbox"  
                          (change)="OnPageCheckBoxChange($event,page.PageId,moduleWisePageAcccess.Module.ModuleName)"
                          [checked]="page.IsPageSelected" />
                          {{page.PageName}} 
                      </label>   
                     
                  </div>
              </div>


                  
              </div>
            </div>
            
          </div>
    </div>
    Button
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button type="submit"  [disabled]="!mapModuleWisePageAccessForm.valid" class="btn btn-warning" >Map Role User Permission <span class="glyphicon glyphicon-send"></span></button>
      </div>
    </div>
    
    </fieldset>
    </form>
  